* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/HTML-CSS/img/rm222batch3-kul-19.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
}

.header {
    margin-top: 5px;
    width: 100%;
    height: 40%;
    text-align: center;

}

.header img {
    width: 80%;
    height:auto;
    border-radius: 5px;
}

.menu {
    width: 100%;
}

.menu ul {
    width: 80%;
    list-style: none;
    margin: 5px auto;
    text-align: center;
    background-color: aqua;
    border-radius: 5px;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    padding: 2px 5px;
}
.menu a{
    text-decoration: none;
    color: black;
}
.corpo{
    width: 80%;
    margin: 10px auto 0px;
}
.corpo h3{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.corpo p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top:10px;
}